<header class='blog-section'>
  <div class='nav-container'>
    <div class='container'>
      <div class='navbar-header'>
        <span class='navbar-brand'>Dustin Lee</span>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#mini-menu' aria-expanded='false'>
          <span class='sr-only'>Toggle Navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>        
      </div>

      <nav class='pull-right'>
        <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav nav-pills'>
            <li ui-sref='home' ui-sref-active='active'>
              <a>Blog</a>
            </li>

            <li ui-sref='about' ui-sref-active='active'>
              <a>About</a>
            </li>

            <li ui-sref='contact' ui-sref-active='active'>
              <a>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class='container collapse' id='mini-menu'>
    <div class='col-md-12'>
      <ul>
        <li ui-sref='home'
            ui-sref-active='active'>
          Blog
        </li>

        <li ui-sref='about'
            ui-sref-active='active'>
          About
        </li>

        <li ui-sref='contact'
            ui-sref-active='active'>
          Contact
        </li>
      </ul>
    </div>
  </div>
</header>