// open sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
  font-family: 'Open Sans' !important;

  .blog-btn {
    color: #FFF;
    background-color: #5BC276;
    background-image: linear-gradient(to bottom, #5BC276 0%, #3DA358 100%);
    background-repeat: repeat-x;
    border-color: #3A9C54;
  }
}

.blog-section {
  color: #FFF;

  a, a:hover {
    color: #FFF;
    cursor: pointer;
  }
}

header {
  #mini-menu {
    background-color: #3AB159;

    ul {
      list-style: none;
      background-color: #61C57B;
      margin-bottom: 50px;
      border-radius: 10px;
      padding-right: 40px;

      li {
        font-size: 24px;
        width: 100%;
        padding: 15px 20px;
        border-radius: 10px;
        cursor: pointer;

        a:focus {
          text-decoration: none;
          color: #FFF;
        }
      }

      li:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-container {
    background-color: #3AB159;
    padding: 50px 0;

    .navbar-brand {
      font-size: 38px;
    }

    .icon-bar {
      background-color: #FFF;
    }

    .nav-pills {
      .active {
        a {
          background-color: #61C57B;
        }
      }

      a, a:focus {
        font-size: 18px;
        background-color: #3AB159;
        color: #FFF;
      }

      a:hover {
        background-color: #61C57B;
      }
    }
  }
}

.sub-header {
  background-color: #61C57B;
  height: 60px;
  font-size: 18px;

  .container {
    height: 100%;
  }

  .breadcrumbs {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    .breadcrumb {
      background-color: #61C57B;
      color: #FFF;

      .active {
        color: #FFF;
      }
    }
  }
}

.main-content {
  background-color: #262626;
}